.freeproducts-wrapper{
    display: flex;
    padding: 5% 12%;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
}

 .freeproducts-heading{
    padding: 5% 12% 2% 12%;
    box-sizing: border-box;
} 
.freeproducts-heading h1{
    font-family: 'galanogrotesque-bold';
    font-size: 3.6rem !important;  
    margin: 0;
}

.freeproducts-card-wrap{
    padding-bottom: 5%;
    box-sizing: border-box;
}